# Book data enrichment

### Imports

In [1]:
import pandas as pd
import numpy as np
import random as r

### Settings

In [4]:
INPUT_FILE = "books.csv"
OUTPUT_FILE = "lab_6_books.csv"

### Loading data

In [12]:
books_df = pd.read_csv(INPUT_FILE)

In [13]:
books_df.head()

,Title,Author,Category,Pages,Publisher,Price,Currency
0,Fundamentals of Wavelets,"Goswami, Jaideva",signal_processing,228,Wiley,165,PLN
1,Data Smart,"Foreman, John",data_science,235,Wiley,297,USD
2,God Created the Integers,"Hawking, Stephen",mathematics,197,Penguin,142,EURO
3,Superfreakonomics,"Dubner, Stephen",economics,179,HarperCollins,188,PLN
4,Orientalism,"Said, Edward",history,197,Penguin,195,PLN

### Auxiliary function forming an ISBN

In [14]:
def create_isbn():
    random_string = ''
    random_str_seq = "0123456789"
    uuid_format = [3, 2, 5, 2, 1]
    for index, n in enumerate(uuid_format):
        for i in range(0,n):
            random_string += str(random_str_seq[r.randint(0, len(random_str_seq) - 1)])
        if index != len(uuid_format) - 1:
            random_string += '-'
    return random_string

### Addition of new columns

In [15]:
books_df['AuthorSurname'] = books_df['Author'].str.split(', ').str[0]
books_df['AuthorName'] = books_df['Author'].str.split(', ').str[1]
books_df = books_df.assign(ISBN = [create_isbn() for i in range(books_df.shape[0])])
books_df = books_df.assign(Count = [r.randint(1, 10) for i in range(books_df.shape[0])])

### Delete unnecessary columns

In [16]:
del books_df['Author']
del books_df['Currency']

In [17]:
books_df.head()

,Title,Category,Pages,Publisher,Price,AuthorSurname,AuthorName,ISBN,Count
0,Fundamentals of Wavelets,signal_processing,228,Wiley,165,Goswami,Jaideva,853-46-05193-84-2,7
1,Data Smart,data_science,235,Wiley,297,Foreman,John,384-04-08936-25-4,4
2,God Created the Integers,mathematics,197,Penguin,142,Hawking,Stephen,095-04-43301-16-2,9
3,Superfreakonomics,economics,179,HarperCollins,188,Dubner,Stephen,263-41-76471-48-6,7
4,Orientalism,history,197,Penguin,195,Said,Edward,995-99-46780-01-0,3

### Export to file

In [18]:
books_df.to_csv(OUTPUT_FILE, sep=',', encoding='utf-8', index=False)